config LTC2640
	bool "LTC2640 DAC Converter"
	default y
	select SPI
	help
	  Enable the driver for Analog Devices LTC2640 High-Accuracy
	  16-bit Digital SPI DAC Converter.

config LTC2640_DEBUG_LEVEL
	int "ltc2604 default debug level"
	default 3
	range 0 4
	help
	  Default ltc2604 debug logging level for Zephyr integration code
	  0 No debug
	  1 Error
	  2 State change
	  3 Information
	  4 Verbose


